In [1]:
%pip install pandas

Requirement already satisfied: pandas in /opt/homebrew/anaconda3/envs/kpmg_class/lib/python3.8/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/homebrew/anaconda3/envs/kpmg_class/lib/python3.8/site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/anaconda3/envs/kpmg_class/lib/python3.8/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in /opt/homebrew/anaconda3/envs/kpmg_class/lib/python3.8/site-packages (from pandas) (2024.2)
Requirement already satisfied: numpy>=1.20.3 in /opt/homebrew/anaconda3/envs/kpmg_class/lib/python3.8/site-packages (from pandas) (1.24.4)
Requirement already satisfied: six>=1.5 in /opt/homebrew/anaconda3/envs/kpmg_class/lib/python3.8/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

data = {
    '번호': [1, 2, 3],
    '이름': ['홍길동', '김철수', '이영희'],
    '국어': [90, 80, 70],
    '영어': [85, 95, 75]
}

df = pd.DataFrame(data)
df

   번호   이름  국어  영어
0   1  홍길동  90  85
1   2  김철수  80  95
2   3  이영희  70  75

In [6]:
for x in df['국어']:
    if x >= 80:
        df['국어등급'] = 'Good'
    else:
        df['국어등급'] = 'Bad'

df

   번호   이름  국어  영어 국어등급
0   1  홍길동  90  85  Bad
1   2  김철수  80  95  Bad
2   3  이영희  70  75  Bad